azureml_automl_core==1.55.0.post2
azureml_automl_runtime==1.55.0.post1
azureml_core==1.55.0.post2
azureml_dataprep_native==41.0.0
azureml_dataprep_rslex==2.22.2
azureml_interpret==1.55.0
azureml_mlflow==1.55.0
azureml_telemetry==1.55.0
azureml_train_automl_client==1.55.0.post1
azureml_train_automl_runtime==1.55.0.post1
azureml_train_core==1.55.0
azureml_train_restclients_hyperdrive==1.55.0
azureml_training_tabular==1.55.0.post1
inference_schema==1.7.2
joblib==1.2.0
numpy==1.23.5
pandas==1.3.5
streamlit==1.33.0
